/** defining shared features **/
* {
    /** defining font features **/
    font-size: 16px;
    font-family: BYekan,'BYekan',tahoma;
    text-align: right;
}

html {
    height: 100%;
}

/** basic style formats of body section **/
body {
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    max-width: 1280px;
    height: 100%;
    margin: auto;

    /** defining flex flow for body parts in top to bottom direction**/
    display: flex;
    flex-direction: column;
}

#menu {
    background-color: rgba(255, 255, 255, 1);
    height: 65px;
    
    /** defining grid display for menu, making a 2 column grid and specifying each part size **/
    display: flex;
    flex-direction: row-reverse;
}

.block--vertically-middle {
    margin-top: auto;
    margin-bottom: auto;
}

.menu__item {
    margin-left: 25px;
    margin-right: 25px;
}

.menu__item--size-large {
    font-size: 120%;
}

.menu__item--color-turquoise {
    color: turquoise;
}

.menu__item:hover {
    color: turquoise;
}

#footer {
    background-color: rgba(0, 0, 0, 1);

    color: rgb(150, 150, 150);
    text-align: center;
    margin-top: auto;
}

#container {
    background-color: rgba(255, 255, 255, 0.5);
    flex-grow: 1;
}

.login__button {
    border-radius: 24px;
    border-color: rgba(255, 220, 24, 1);
    background-color: rgba(255, 255, 255, 1);
    
    padding: 10px 20px 10px 20px;
    color: rgba(0, 0, 0, 1);
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: auto;
    margin-left: 10px;
}

.login__dropdown {
    display: none;
    position: absolute;
    background-color: rgb(160, 160, 160);
    z-index: 1;
    
    padding: 10px 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.login__dropdown a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.login__dropdown a:hover {
    background-color: rgb(200, 200, 200);
}

.dropdown:hover .login__dropdown {
    display: block;
}

.dropdown:hover .login__button {
    background-color: rgba(255, 220, 24, 1)
}