/** defining shared features **/
* {
    /** defining font features **/
    font-size: 16px;
    font-family: BYekan,'BYekan',tahoma;
    text-align: right;
}

html {
    height: 100%;
}

/** basic style formats of body section **/
body {
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    max-width: 1280px;
    height: 100%;
    margin: auto;

    /** defining flex flow for body parts in top to bottom direction**/
    display: flex;
    flex-direction: column;
}

#menu {
    background-color: rgba(255, 255, 255, 1);
    height: 65px;
    
    /** defining grid display for menu, making a 2 column grid and specifying each part size **/
    display: grid;
    grid-template-areas: "L R";
    grid-template-columns: 20% 80%;
}

.block--vertically-middle {
    margin-top: auto;
    margin-bottom: auto;
}

#menu > .menu--poisition-right {
    grid-area: R;
}

#menu > .menu--poisition-left {
    grid-area: L;
}

.menu__item {
    margin-left: 25px;
    margin-right: 25px;
}

.menu__item--size-large {
    font-size: 120%;
}

.menu__item--color-turquoise {
    color: turquoise;
}

.menu__item:hover {
    color: turquoise;
}

#footer {
    background-color: rgba(0, 0, 0, 1);

    color: rgb(150, 150, 150);
    text-align: center;
    margin-top: auto;
}

#container {
    background-color: rgba(255, 255, 255, 0.5);
    flex-grow: 1;
}

button {
    border-radius: 25%;
    border-color: rgba(250, 185, 35, 1);
    background-color: inherit;
    padding: 10px;
}