<!DOCTYPE html>

{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'style/basic_styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'style/arrow_styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'style/homepage_styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'style/admin_profile.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'style/modal.css' %}" rel="stylesheet" type="text/css">

    <script src="{% static 'script/admin_profile.js'%}" defer></script>
    <title>profile</title>
</head>
<body>

    <div id="menu" class="block--vertically-middle">
        <span class="menu__item menu__item--size-large menu__item--color-turquoise">فروشگاه مهشاپ </span>
        <span class="menu__item menu__item--type-main">صفحه اول</span>
        <span class="menu__item">تماس با ما</span>
        <span class="menu__item">پشتیبانی</span>
        <span class="menu__item menu__item--type-products">محصولات</span>

        <div class="menu__item dropdown">
            <button class="button login__button login__button--loggedin-no">ورود/ثبت نام</button>
            <div class="login__button--loggedin-yes">
                <button class="button login__button">امیرحسین <i class="arrow down"></i></button>
                <div class="dropdown__content">
                    <a>پروفایل</a>
                    <a>خروج از حساب</a>
                </div>
            </div>
        </div>
    </div>

    <div id="container">
        <div class="info content">
            <div class="info__div welcom account">
                <div></div>
                <div class="info__welcom" id="welcom">
                    <p>ادمین عزیز، خوش آمدید</p>
                </div>
                <div></div>
            </div>
            <div class="info__tabs receipt">
                <div class="info__receipts info__receipts--active">رسیدها</div>
                <div class="info__category info__receipts--active">  لیست دسته ها</div>
                <div class="info__profile ">لیست کالاها</div>
            </div>
            <div class="new_product">
                <p>+ اضافه کردن محصول جدید</p>
            </div>
            <div class="container__contents">
            </div>
       
        </div>
        <div class="receipt__page  content">
            <div class="info__div welcom account">
                <div></div>
                <div class="info__welcom" id="welcom">
                    <p>ادمین عزیز، خوش آمدید</p>
                </div>
            </div>
     

            <div class="info">
                <div class="info__tabs receipt">
                    <div class="info__receipts ">رسیدها</div>
                    <div class="info__category info__receipts--active">  لیست دسته ها</div>
                    <div class="info__profile info__receipts--active">لیست کالاها</div>
                </div>
            </div>
            <div class="searching">
                <input class="searching__input" name="email" class="enterform__input " type="email" placeholder="کد پیگیری را برای جست‌و‌جو وارد کنید."  id="email">
                <label class="searching__label" for="email">جست‌و‌جوی کدپیگیری</label>
            </div>          
            <div id="receipts-container">
                <div class="receipts" id="receipts"></div>
            </div>
        </div>
        <div class="category_page  content">
            <div class="info__div welcom account">
                <div></div>
                <div class="info__welcom" id="welcom">
                    <p>ادمین عزیز، خوش آمدید</p>
                </div>
                <div></div>
            </div>
            <div class="info">
                <div class="info__tabs receipt">
                    <div class="info__receipts info__receipts--active">رسیدها</div>
                    <div class="info__category ">  لیست دسته ها</div>
                    <div class="info__profile info__receipts--active">لیست کالاها</div>
                </div>
            </div>
            
            <div id="category-container">
                <div class="categories" id="categories">
                        <div class="category__item categories___grid--display-grid">
                            <div></div>
                            <div>عملیات</div>
                            <div> نام دسته بندی</div>
                            <div></div>
                        </div>
                        
                        <div class="category__item categories___grid--display-grid">
                            <div></div>
                            <div><span>ویرایش دسته بندی </span>   <span>حذف دسته بندی </span></div>
                            <div><span>دسته بندی نشده</span></div>
                            <div></div>
                        </div>
                        <div class="category__item categories___grid--display-grid">
                            <div></div>
                            <div><span> ویرایش دسته بندی <span> </span>   حذف دسته بندی</span></div>
                            <div><span>دسته بندی نشده</span></div>
                            <div></div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <p>تمامی حقوق برای توسعه‌دهندگان، امیرحسین رسولیان و محمدامین رحیمی، محفوظ است</p>
    </div>
</body>
</html>
