<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'style/basic_styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'style/arrow_styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'style/homepage_styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'style/profile.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'style/modal.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'script/profile.js'%}" defer></script>

    <title>profile</title>
</head>
<body>
    <div id="menu" class="block--vertically-middle">
        <span class="menu__item menu__item--size-large menu__item--color-turquoise">فروشگاه مهشاپ </span>
        <span class="menu__item menu__item--type-main">صفحه اول</span>
        <span class="menu__item">تماس با ما</span>
        <span class="menu__item">پشتیبانی</span>
        <span class="menu__item menu__item--type-products">محصولات</span>

        <div class="menu__item dropdown">
            <button class="button login__button login__button--loggedin-no">ورود/ثبت نام</button>
            
            <div class="login__button--loggedin-yes">
                <button class="button login__button"></button>
                <div class="dropdown__content">
                    <a id="profile">پروفایل</a>
                    <a id="exit">خروج از حساب</a>
                </div>
            </div>
        </div>
    </div>

    <div id="container">

        <div class="info content">
            <div class="info__div welcom account">
                <div class="info__account" id="account">
                    <button id="charge__add">افزایش موجودی</button>
                    <p> موجودی حساب شما: <span id="charge"></span></p>
                </div>
                <div class="black"></div>
                <div class="info__welcom" id="welcom">
                    <p><span id="user_firstname"></span> عزیز، خوش آمدید</p>
                </div>

            </div>
            <div class="info__tabs receipt">
                <div class="info__receipts">رسیدها</div>
                <div class="info__profile info__receipts--active">پروفایل</div>
            </div>
            <form class="form" name="form" id="formid" autocomplete="off">
                <div class="form__element name_info">
                    <div class="form__element__div">
                        <input class="form__input form__fname" type="text" id="fname" autocomplete="off">
                        <label class="form__label form__fname" for="fname">نام</label>
                    </div>
                    <div class="form__element__div">
                        <input class="form__input form__lname" type="text" id="lname" autocomplete="off" >
                        <label class="form__label form__lname" for="lname">نام خانوادگی</label>
                    </div>
                </div>
                <div class="form__element email_pass ">
                    <div class="form__element__div">
                        <input class="form__input form__password" type="password"  id="pass" autocomplete="new-password">
                        <label class="form__label form__password" for="pass">رمز عبور</label>
                    </div>
                </div>
                <div class="form__element" id="error__display">
                    <div class="enterform__passerror"></div>
                </div>
                <div class="form__element form__element__div form__element--margin-button" >
                    <textarea class="form__textarea form__address"  id="addr"></textarea>
                    <label class="form__label form__address" for="addr">آدرس</label>
                </div>
                <button class="form__btn" type="submit" form="formid">تغییر اطلاعات</button>
            </form>
        </div>

        <div class="receipt__page">
            <div class="info">
                <div class="info__welcom" id=" welcom">
                    <p>محمدامین عزیز، خوش آمدید</p>
                </div>
                <div class="info__tabs receipt">
                    <div class="info__receipts info__receipts--active">رسیدها</div>
                    <div class="info__profile  ">پروفایل</div>
                </div>
            </div>
            <div id="receipts-container">
                <div class="receipts" id="receipts"></div>
            </div>
        </div>
    </div>

    <div id="footer">
        <p>تمامی حقوق برای توسعه‌دهندگان، امیرحسین رسولیان و محمدامین رحیمی، محفوظ است</p>
    </div>
</body>
</html>
