@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    box-sizing: border-box;
} 


#container {
    justify-content: center;
    padding-bottom: 20px; /*i have added this line */
} 

.info {
    max-width: 600px;
    width: 50%;
    min-width: 300px;
    margin: 0 auto;
}

.info__div {
    margin: 0 auto 30px auto;
    min-width: 250px;
    display: grid;
    grid-template-columns: 1fr 90% 1fr;
}

.info__welcom{
    font-weight: bold;
}

.info__account {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    height: 40px;
}

.info__account p {
    font-size: 10px;
    line-height: 13px;
}

.info__account button{
    font-size: 10px;
    height: 30px;
    border: none;
    background-color: orange;
    border-radius: 10px;
    cursor: pointer;
}

.info__welcom {
    font-weight: bold;
}

.black {
    background-color: black;
}

.info__tabs {
    box-sizing: content-box;
    margin: 0 auto 30px auto;
    min-width: 200px;
    width: 300px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: rgb(225, 225, 225);
    height: 30px;
    overflow: hidden;
    line-height: 30px;
    border: 2px solid rgb(225, 225, 225);
    border-radius: 17px;
}

.info__receipts--active  {
    background-color: white;
    color: #999 ;
}



.searching {
    max-width: 600px;
    width: 50%;
    min-width: 300px;
    margin: 15px auto;
    display: grid;
    grid-template-columns: 60% 40%;
    height: 30px;

}

.searching__label {
    background-color: #05ECEB;
    color: white;
    height: 30px;
    line-height: 30px;

}

.searching__input {
    margin: 0;
    padding: 0;
    border: none;
}


.new_product {
    width: 200px;
    margin: 15px auto;
    height: 50px;
    line-height: 50px;
    border-radius: 30px;
    background-color: rgb(40, 157, 255);
    color: white;
}




#category-container {
    min-width: 550px;
    width: 80%;
    padding: 0 20px 0 20px;
    background-color: white;
    margin: 0 auto 0 auto;

}


.categories {
    display: flex;
    flex-direction: column;
}

.categories___grid--display-grid {
    display: grid;
    grid-template-columns: 1fr 60% 20% 2fr;
    row-gap: 2px;
}

.category__item {
    border-bottom: 1px solid #e2e2e2;
    color: rgb(80, 80, 80);
    padding: 7px;
}

#receipts-container {
    min-width: 550px;
    width: 80%;
    padding: 0 20px 0 20px;
    background-color: white;
    margin: 0 auto 0 auto;

}


.receipts {
    display: flex;
    flex-direction: column;
}


.receipts__grid--display-grid {
    display: grid;
    grid-template-columns: 1fr 25% 16% 17% 20% 17% 2fr;
    row-gap: 2px;
}


.receipts__item {
  border-bottom: 1px solid #e2e2e2;
color: rgb(80, 80, 80);
    padding: 7px;
}



.grid__item {
    padding-right: 5px;
    font-size: 12px;
    text-align: right;
}


.receipts__grid--display-grid:first-child {
    color: #999;
}


.receipts__grid--display-grid:last-of-type {
    border-bottom: none;
}



h4 {
    text-align: center;
    margin: 0;
    color: #05ECEB;
}





::placeholder {
    font-size: 12px;
}

.enterform__email--errorexist{
    margin-bottom: 0px;
}

.enterform__emailerror p{
    text-align: right;
    color: red;
    font-size: 10px;
    line-height: 14px;
    margin: 5px;
}


.enterform__password--errorexist{
    margin-bottom: 0px;
}

.enterform__passerror p{
    text-align: right;
    color: red;
    font-size: 10px;
    line-height: 14px;
    margin: 5px;
    margin-bottom: 5px;
}

#error__display {
    display: none;
}

.receipt__page {
    display: none;
}


.container__content{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 30px;
    padding: 15px;
}


span {
    margin: 8px;
    display: inline-block;
}