@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    box-sizing: border-box;
} 


#container {
    justify-content: center;
    padding-bottom: 20px; /*i have added this line */
} 

.info {
    max-width: 600px;
    width: 50%;
    min-width: 300px;
    margin: 0 auto;
}

.info__div {
    margin: 0 auto 30px auto;
    min-width: 250px;
    display: grid;
    grid-template-columns: 49.5% 2px 49.5%;
}

.info__welcom{
    font-weight: bold;
    margin-bottom: 30px;
}

.info__account {
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* justify-items: center;  */
    align-items: center;
    margin: auto;
    height: 40px;
}

.info__account p {
    font-size: 10px;
    line-height: 13px;
}

.info__account button{
    font-size: 10px;
    height: 30px;
    border: none;
    background-color: orange;
    border-radius: 10px;
    cursor: pointer;
}

.info__welcom {
    font-weight: bold;
}

.black {
    background-color: black;
}

.info__tabs {
    box-sizing: content-box;
    margin: 0 auto 30px auto;
    min-width: 200px;
    width: 300px;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgb(225, 225, 225);
    height: 30px;
    overflow: hidden;
    line-height: 30px;
    border: 2px solid rgb(225, 225, 225);
    border-radius: 17px;
}

.info__receipts--active  {
    background-color: white;
    color: #999 ;
}

#receipts-container {
    min-width: 550px;
    width: 80%;
    padding: 0 20px 0 20px;
    background-color: white;
    margin: 0 auto 0 auto;

}


.receipts {
    display: flex;
    flex-direction: column;
}


.receipts__grid--display-grid {
    display: grid;
    grid-template-columns: 1fr 41% 17% 20% 17% 2fr;
    row-gap: 2px;
}


.receipts__item {
  border-bottom: 1px solid #e2e2e2;
color: rgb(80, 80, 80);
    padding: 7px;
}



.grid__item {
    padding-right: 5px;
    font-size: 12px;
    text-align: right;
}


.receipts__grid--display-grid:first-child {
    color: #999;
}


.receipts__grid--display-grid:last-of-type {
    border-bottom: none;
}



h4 {
    text-align: center;
    margin: 0;
    color: #05ECEB;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}


.form__element {
    width: 100%;
    min-height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form__element__div{
    display: grid;
    column-gap: 0;
    grid-template-columns:  10fr 100px 10px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.form__element--margin-button {
    margin-bottom: 30px;
}


.form__input {
    display: inline-block;
    width: 100%;
    border: none;
    padding: 0%;
    margin: 0;
    border-radius: 7px 0px 0px 7px;
}

.form__textarea {
    display: inline-block;
    width: 100%;
    border: none;
    padding: 0%;
    margin: 0;
    border-radius: 7px 0px 0px 7px;
}


.form__label {
    color: #ffffff;
    border-radius: 0px 7px 7px 0px;
    display: inline-block;
    margin: 0;
    width: 100%;
    background-color: #05ECEB;
    padding: 0 6px;
    text-align: center;
    line-height: 30px;
}

.form__btn {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    line-height: 30px;
    background-color: orange;
}



::placeholder {
    font-size: 12px;
}

.enterform__email--errorexist{
    margin-bottom: 0px;
}

.enterform__emailerror p{
    text-align: right;
    color: red;
    font-size: 10px;
    line-height: 14px;
    margin: 5px;
}


.enterform__password--errorexist{
    margin-bottom: 0px;
}

.enterform__passerror p{
    text-align: right;
    color: red;
    font-size: 10px;
    line-height: 14px;
    margin: 5px;
    margin-bottom: 5px;
}

#error__display {
    display: none;
}

.receipt__page {
    display: none;
}